@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Slab&display=swap');


body{
    margin: 0px;
    font-family: "Arial", sans-serif;
    background-color: #F9F9F9;
}

header {
    height: 600px;
    background: url(images/texttools.png);
}

header nav {
    background: #F9F9F9;
    opacity: 0.74;
    height: 62px;
    box-shadow: 0 0 10px #000000;
}

header nav ul{ 
    margin: 0;
    padding: 0px;
    list-style: none; 
    float: right;
    display: flex;

}

header nav ul li a{
    float: left;
    line-height: 62px;
    padding:0 18px;
    font-weight: bold;
    text-decoration: none;
    color: #313131;
    opacity: 0.85;
    transition: opacity 0.2s;
}



header nav ul li a:hover
{
    opacity:1;
    color: black;
}


#label {
    display: block;
    padding-left: 120;
    padding-top: 95px;
    height: 200;

}

#icon {
   background: url(images/iconnew.png); 
    display: block;
    width: 60px;
    height: 55px; 
    float: left; 
    margin-left:40px;
    margin-top: 3px;   
}

#h1 { 
    font-family: "Arial", sans-serif;
    margin: 0;
    display: block;
    text-align: center;
    flex: auto;
    padding-top: 12px;

}

#para { 
    font-family: "Arial", sans-serif;
    margin: 0;
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 200px;
    display: block;
    text-align: justify;
    float: left;
    line-height:1.4;
    font-size: 24px;
    flex: auto;
}

.row {
    width: auto;
    display: flex;
    justify-content: space-around;
}


.col1 {
    width: 100%;
    margin-bottom: 15%;
    padding: 2.5px;
    height: 60px;
}

.col2 {
    width: 100%;
    margin-bottom: 15%;
    padding: 2.5px;
    height: 60px;
    margin-top: 350px;
}
.logos{
    width: 100%;
}


h2{
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 50px;
    margin: 15px;
}

h3{
    text-align: center;
    font-family: "Courier new", sans-serif;
    font-size: 30px;
    margin: 0;
}

.confused{
    display: block;
    margin: 0 auto;
    padding: 0;
    justify-content:center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


ol li{
    font-family: "Papyrus";
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}


.con1{
    width: 100%;
    float: left;
    padding: 10px;
    justify-content: center;
    padding-left: 185px;
    padding-top: 25px;
}

.pic{ 
    height: 400px; 
}

.pic:hover{
    transform: scale(2,2);
    transition: .3s transform;
}

.dropdown{
    position: relative;
  
   
}

.dropnav{
    position: absolute;
    display: none;
     background: #F9F9F9;
    opacity: 0.74;
    margin-top: 50px;
}

.dropnav li{ 
border-bottom: 1px solid rgba(255,255,255,.2);

}
 
.dropdown:hover > .dropnav {
    display:block;
}

.video{
   margin-left: 33%;
}


.contact-title{
    margin-top: 40px;
    text-transform: uppercase;
 
}



.contact-form{
    align-content: center;
    margin-left: 30%;
    width: 600px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border-bottom: 1px solid gray;
    color:black;
    font-size: 18px;
    margin-bottom: 16px;

}

.submit{
  background-color:none;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:none; }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
